* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: hsl(233, 47%, 7%);
}
.sec {
  border-radius: 1rem;
  background-color: hsl(244, 38%, 16%);
  margin: 2rem 1rem 0 1rem;
  padding-bottom: 1.2rem;
  text-align: center;
}
.image {
  accent-color: auto;
}

.img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.head {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 2rem 1rem 1rem 1rem;
  font-size: 2rem;
}
.para {
  color: hsla(0, 0%, 100%, 0.75);

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 0 1rem 1.8rem 1rem;
}
.elements {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
}
.ele-sub {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.cmmnt {
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.75);

  font-size: 1rem;
  margin-bottom: 2rem;
}
.purple {
  color: hsl(277, 64%, 61%);
}

@media (min-width: 1440px) {
  .body {
    display: flex;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
  }
  .sec {
    flex-flow: row-reverse;
    margin-top: 10rem;
    width: 60rem;
    display: flex;
    padding: 0;
  }
  .image {
    border-radius: 0rem 1rem 1rem 0rem;
    background-color: hsl(277, 71%, 30%);
    /* width: 30rem; */
  }
  .img {
    opacity: 0.5;
    border-radius: 0rem 1rem 1rem 0rem;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .elements {
    text-align: left;
    display: flex;
  }
  .content {
    padding: 1rem 2rem 0 1rem;
    text-align: left;
    margin: 0rem 1.5rem;
    width: 30rem;
  }
  .head {
    text-align: left;
    margin: 1rem 0;
    font-size: 2rem;
  }

  .para {
    margin: 2rem 0;
    font-size: 1rem;
    width: rem;
  }
  .ele-sub {
    font-size: 1.5rem;
    margin: 3rem 0 0 0;
    margin-right: 3rem;
  }
  .cmmnt {
    font-size: 0.8rem;
  }
} ;
